# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# Environments
.venv/
env/
docs/anotacoes/*

# Docker
.docker/

# Data & Database (Crucial para Engenharia de Dados)
data/*.db
data/*.wal
*.csv
*.parquet

# IDEs
.vscode/
.idea/

# WEB
node_modules/
dist/
.vite/

# Claude
CLAUDE.md